/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@400;600;700&display=swap");

body {
  font-family: "Noto Sans Mono", monospace;
}

.pomodoro-container {
  height: 100%;
  width: 100%;
}

@media screen and (min-width: 640px) {
  .pomodoro-container {
    height: 600px;
    width: 550px;
  }
}

@media screen and (max-width: 268px){
  .pomodoro-container span {
    font-size: 4rem;
  }
}